.contenedor{
     display: flex;
     margin: 0 auto;
     width: 80%;
}

.izquierda{
    width: 40%;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid green;
    padding: 10px;
}

.derecha{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    padding: 10px;
    border: 3px solid black;
}